[data-md-color-scheme="SGN-Light"] {
  --md-primary-fg-color:        #EE0F0F;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-primary-bg-color:  #90030C;
  --md-primary-bg-color--light:  #90030C;
 
  --md-accent-fg-color:                hsla(#{hex2hsl($clr-indigo-a200)}, 1);
  --md-accent-fg-color--transparent:   hsla(#{hex2hsl($clr-indigo-a200)}, 0.1);
  --md-accent-bg-color:                hsla(0, 0%, 100%, 1);
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7)
}

[data-md-color-scheme="SGN-Dark"] {
  --md-primary-fg-color:        #75108e;
  --md-primary-fg-color--light: #75108e;
  --md-primary-fg-color--dark:  #340241;
  --md-primary-bg-color:  #121014;
  --md-primary-bg-color--light:  #90030C;
 
  --md-accent-fg-color:  #874fbf;
  --md-accent-fg-color--transparent:   hsla(#{hex2hsl($clr-indigo-a200)}, 0.1);
  --md-accent-bg-color:  #121014;
  --md-accent-bg-color--light:         hsla(0, 0%, 100%, 0.7)
}

